<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tally-O Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/styles.css') }}"
    />
  </head>
  <body>
    <header class="site-header">
      <div class="header-left">
        <nav>
          <button onclick="window.location.href='/'">Home</button>
          <button onclick="window.location.href='/inventory'">Inventory</button>
          <button onclick="window.location.href='/sold'">Sold</button>
          <button onclick="window.location.href='/insights'">Insights</button>
        </nav>
        <h1>Welcome to Your Tally-O Dashboard</h1>
      </div>
      <div class="header-right">
        <button id="login-btn">Login with eBay</button>
      </div>
    </header>
    <main>
      <section class="hero">
        <h2>
          Ditch the spreadsheet and automate your eBay reselling business.
        </h2>
      </section>
    </main>

    <script src="{{ url_for('static', filename='assets/main.js') }}"></script>
  </body>
</html>
